<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu='barangsMenu'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About     
    </ion-title>    
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="https://i.imgur.com/ysbFxEU.jpeg"></ion-img>  
    <ion-card-title>Mikhail Aresa</ion-card-title>
    <ion-card-subtitle>00000019452 - AL</ion-card-subtitle>
  </ion-card-header>
    <ion-card-content>
      <p>
        Saya mengerjakan aplikasi ini bersama Stefanus Dwitra Lauwrendo, Celvyn Yulian, Jonathan, Viriya Lucky, Vincent, Grendi, dan Fenri Mintardja. Sumber yang didapat adalah ionic dokumentasi dan week 1-7 modul lab
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

