<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu='barangsMenu'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home      
    </ion-title>    

    <ion-buttons slot="end">
    <ion-button (click)="ChangetoGrid()"*ngIf="allowedList==true">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="ChangetoList()"*ngIf="allowedGrid==true">
      <ion-icon name="list-outline"></ion-icon>
    </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-list [barangs]="barangs" *ngIf="allowedList==true"> 
  </app-list>
  <app-grid [barangs]="barangs" *ngIf="allowedGrid==true">
  </app-grid>
</ion-content>
